abs_root: /home/aitrain/Documents/Krisztian/CLIP4STR
model:
  _convert_: all
  img_size:
  - 128
  - 128
  max_label_length: 2
  charset_train: '0123456789'
  charset_test: '0123456789'
  batch_size: 64
  weight_decay: 0.2
  warmup_pct: 0.075
  code_path: ${abs_root}/code/CLIP4STR
  name: vl4str
  _target_: strhub.models.vl_str.system.VL4STR
  patch_size:
  - 16
  - 16
  embed_dim: 512
  enc_num_heads: 12
  enc_mlp_ratio: 4
  enc_depth: 12
  enc_width: 768
  dec_num_heads: 8
  dec_mlp_ratio: 4
  dec_depth: 1
  enc_del_cls: false
  dec_ndim_no_decay: true
  context_length: 16
  use_language_model: true
  image_detach: true
  type_embedding: false
  cross_gt_context: true
  cross_cloze_mask: false
  cross_extra_attn: false
  cross_correct_once: false
  cross_loss_w: 1.0
  itm_loss: false
  itm_loss_weight: 0.1
  cross_token_embeding: false
  fusion_model: false
  image_freeze_nlayer: -1
  text_freeze_nlayer: 6
  image_freeze_layer_divisor: 0
  image_only_fc: false
  use_share_dim: true
  clip_cls_eot_feature: false
  lr: 8.4e-05
  coef_lr: 19.0
  coef_wd: 1.0
  perm_num: 6
  perm_forward: true
  perm_mirrored: true
  dropout: 0.1
  decode_ar: true
  refine_iters: 1
  freeze_backbone: false
  freeze_language_backbone: false
  clip_pretrained: /home/aitrain/Documents/Krisztian/CLIP4STR/pretrained/clip/ViT-B-16.pt
  find_unused_parameters: true
data:
  _target_: strhub.data.module.SceneTextDataModule
  root_dir: ${abs_root}/dataset/
  output_url: null
  train_dir: real
  batch_size: ${model.batch_size}
  img_size: ${model.img_size}
  charset_train: ${model.charset_train}
  charset_test: ${model.charset_test}
  max_label_length: ${model.max_label_length}
  remove_whitespace: true
  normalize_unicode: true
  augment: true
  num_workers: 8
  openai_meanstd: true
trainer:
  _target_: pytorch_lightning.Trainer
  _convert_: all
  #val_check_interval: 1
  max_epochs: 20
  gradient_clip_val: 20
  gpus: 2
  accumulate_grad_batches: 1
ckpt_path: null
pretrained: null
swa: false
